{% extends "base.html" %}
{% block start %}
    
    <h1>This is Index Page</h1>
    
    <a href="/about">About</a>
|
    <a href="/contact">Contact</a>
  
    

    <table class="container">
  <tr>
    <th>S.No</th>
    <th>Name</th>
    <th>Age</th>
    <th>Can Vote</th>
  </tr>

  {% for people in peoples %}

  <tr>
    <td>{{forloop.counter}}</td>
    <td>{{people.name}}</td>
    <td>{{people.age}}</td>
    <td {% if people.age < 18 %}style="background-color: red"{% else %}style="background-color: green"{% endif %}>
        {% if people.age >= 18 %}
            👍
        {% else %}
            👎
        {% endif %}

  </tr>
  
  {% endfor %}
</table>


    
      
{% endblock %}

